body{
    background-color: darkslategray;
}

h1{
    color: white;
    text-align: center;
    font-size: 5vw;
    font-family: 'Times New Roman', Times, serif;
}

p{
    color: white;
    font-family: 'Georgia', serif;
    font-size: 4vw;
    text-align: center;
}

img{
    width: 60vw;
    border-radius: 2vw;
}

ul{
    padding-left: 20vw;
}

li{
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 5vw;
}